* {
    font-size: min(8cqh, 8cqw); /*Down a rabbit hole of relative font size I settled on this, For some reason container queries seem to just act on vh and vw and not container divs*/
}

body {
    margin: 0;
}

#container {
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    display: flex;
    aspect-ratio: 4/3;
    max-height: calc(100vh - 10px);
    flex-direction: column;
}

#display {
    flex-grow: 1;
    background-color: white;
    text-align: right;
    align-content: center;
}

#buttons {
    display: flex;
    flex-grow: 4;
}

#buttons>div {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.col {
    display: flex;
    flex-grow: 1;
}

#buttons button {
    flex-grow: 1;
    margin: 1px;
}

#evaluate {
    flex-grow: 1;
}

#evalButton {
    width: 100%;
    height: 100%;
}